*
{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
}
nav
{
    height: 90px;;
    background-color: #5f4c4c;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 120px;
}
nav ul li a{
    color:	lavender;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
}
a:hover{
    color: #FFDAB9;
    transition: 0.5s;
}
body{
    background: url("web1.png")no-repeat;
    background-size: cover;
    opacity: 0.7;
}
.c-quiz
{
   border-radius: 20px;
    width: 400px;
    height: 240px;
    margin: 60px 300px;

}

.c-h2
{
    color:black;
    font-size: 25px;
    margin: -50px 300px;
}
.c-p
{
    color:black;
    font-size: 18px;
    margin: 80px 300px;
}
.c a{
    color: red;
    font-size: 25px;
    margin: 0px 300px;
}
